<a href="https://colab.research.google.com/github/sheenavr/Python-programming/blob/main/MST_Day1_Handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducttion to Python**

In [ ]:
len(["hello",2, 4, 6])

4

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(233)
print(4.9)

233
4.9

In [ ]:
print("welcome to",end=' ')
print("python programming")

welcome to python programming

In [ ]:
print("welcome to",end=' ')
print("the world of Python",end='!!')

welcome to the world of Python!!

In [ ]:
print("\"Welcome to the world of Python\"")

"Welcome to the world of Python"

In [ ]:
age=12
name="BOB"
ishappy=True
print(name)
print(ishappy)
print(age)
type(age)

BOB
True
12

int

In [ ]:
fred=200
John=fred
print(John)

200

In [ ]:
Item_name="Computer" #A string
Item_qty=10
Item_value=100.23
print(Item_name)
print(Item_qty)
print(Item_value)

Computer
10
100.23

In [ ]:
x=y=z=1
print(x,y,z)

1 1 1

In [ ]:
x,y,z=1,1.345,"Hai"
print(x,y,z)

1 1.345 Hai

In [ ]:
p=10
q=10.55
r=1+2j
print(p,q,r)
type(p)
print(type(p))

10 10.55 (1+2j)
<class 'int'>

In [ ]:
d=10
e=float(10)
print(d)
print(e)

10
10.0

In [ ]:
print(int(12.35))

12

In [ ]:
x=complex(1,2)
print(x)
type(x)

(1+2j)

complex

In [ ]:
var1=input("Enter a Number")
print(var1)

Enter a Number22
22

In [ ]:
var1=float(input("Enter the Number"))
print(var1)
type(var1)

Enter the Number22
22.0

float

In [ ]:
name="Ally Alien\n"
greeting=" Welcome to Earth"
print("The message is "+name+greeting)

The message is Ally Alien
 Welcome to Earth

In [ ]:
print("python\n"*3)

python
python
python

In [ ]:
first_name=input("Enter your First Name")
second_name=input("Enter the second name")
print("Hello "+first_name+" "+second_name)

Enter your First NameSheena
Enter the second nameViswanathan
Hello Sheena Viswanathan

In [ ]:
str="Python"

print(str[-6])
print(len(str))
print(str[-len(str)])
print(str[0:4])
print(str[:5])
print(str[-5:-2])
print(str[0:6:2])
print(str[-4:-1])
print(str[0:5:2])
print(str[-1:-4:-1])

P
6
P
Pyth
Pytho
yth
Pto
tho
Pto
noh

In [ ]:
s="python"
s1="PYTHON"
print(s.capitalize())
print(s1.lower())
print(s.upper())
print(s1.swapcase())

Python
python
PYTHON
python

In [ ]:
x=True
print(type(x))

<class 'bool'>

In [ ]:
print(float("4.5"))
print(int(5.09))
print(int(True))
print(bool(0))
print(float(False))
print(bool("Hello"))

4.5
5
1
False
0.0
True