<a href="https://colab.research.google.com/github/sheenavr/Python-programming/blob/main/MST_Python_Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# no arguments and return value
def sample_fun():
    print('learning ptthon is fun !!!')
    
print('I am going to call the function')    
sample_fun()

I am going to call the function
learning ptthon is fun !!!

In [2]:
# Passing arguments to function
def arg_pass_fun(x):
    print('Learning {} is full of fun'.format(x))
    
    
arg_pass_fun('Python')

Learning Python is full of fun

In [3]:
data=input("Enter a language")
arg_pass_fun(data)

Enter a languagemalayalam
Learning malayalam is full of fun

In [4]:
#Function returning value
def add(a,b):
    c=a+b
    return c
print('sum is',add(4,6))

sum is 10

In [5]:
#Function to display mark greater than 80 and age greater than 21 then "selected" else "rejected"
def sel_fun():
    mark=int(input("Enter the mark"))
    age=int(input("Enter the age"))
    if mark>80 and age>21:
        return "Selected"
    else:
        return "Rejected"
sel_fun()

Enter the mark23
Enter the age21

'Rejected'

In [6]:
#Global and local Variable
a=10
def var_fun():
    a=20
    return a
print("inside the function",var_fun())
print('outside the function',a)

inside the function 20
outside the function 10

In [7]:
# how to pass list to a function
def list_fun(food):
    print(food)
fruit=['apple','orange','banana'] 
list_fun(fruit)

['apple', 'orange', 'banana']

In [8]:
# pass list to a function and return only even numbers
def even_list_fun(list_even):
    ev_list=[]
    for i in list_even:
        if i%2==0:
            ev_list.append(i)
    return ev_list
    
my_list=[20,23,27,39,67,54]
print("even list is",even_list_fun(my_list))

even list is [20, 54]

In [9]:
n=int(input("enter the number of elements in the list"))
print("enter the elements")
list2=[]
for i in range(n):
    num=int(input())
    list2.append(num)
print(list2)
even_list_fun(list2)

enter the number of elements in the list3
enter the elements
11
22
33
[11, 22, 33]

[22]

In [10]:
#if the number of arguments are not known
def sum_n(*num):
    result=0
    for i in num:
        result+=i
    return result 
sum_n(8,6)

14

In [11]:
#Recursion: sum of n numbers
def recurs_sum(n):
    if n==0:
        return 0
    else:
        return recurs_sum(n-1)+n
num=(int(input("Enter the number"))) 
print("The sum upto the number is",recurs_sum(num))

Enter the number2
The sum upto the number is 3

In [12]:
# Factorial of a number
def recurs_fact(n):
    if n<0:
        return "The number is negative number"
    elif n==0:
        return 1
    else:
        return recurs_fact(n-1)*n
num=(int(input("Enter the number"))) 
print("The factorial of the number is",recurs_fact(num))

Enter the number2
The factorial of the number is 2

In [13]:
# Lambda function to find the sum
sum1=lambda a,b:a+b
print(sum1(10,20))

30

In [14]:
#largest among 2 numbers
lar=lambda a,b:a if a>b else b
print("largest number is",lar(56,99))

largest number is 99

In [15]:
# even or odd
num_type=lambda a: 'even' if a%2==0 else 'odd'
print("the type of the number is",num_type(75))

the type of the number is odd

In [16]:
list1=[(lambda x: x*x)(x) for x in range(10)]
print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
list1=[(lambda x:x**2)(x) for x in range(1,5)]
print(list1)

[1, 4, 9, 16]