<a href="https://colab.research.google.com/github/sheenavr/Python-programming/blob/main/MST_Python_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=[5,6,7]
6 in l

True

In [ ]:
9 in l

False

In [ ]:
s='hello'
'd' not in s

True

In [ ]:
'h' in s

True

In [ ]:
l=[3,6,7,8,9]
for i in l:
  print(i)

3
6
7
8
9

In [ ]:
l=list(range(1,20))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
l=list(range(20,2,-1))
l

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3]

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
#print all numbers in reverse order
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#print square of numbers from 1 to 10
for i in range(1,11,1):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
#print all numbers divisible by 3 from 1 to 51
for i in range(1,52):
  if i%3==0:
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51

In [ ]:
#Read a list of numbers from user and find the sum
sum=0
limit=int(input("Enter the limit"))
for i in range(limit):
  num=int(input())
  sum=sum+num
print("Sum is:",sum)

Enter the limit2
11
22
Sum is: 33

In [ ]:
l=int(input("Enter the limit"))
sum=0
new_list=[]
for i in range(l):
  num=int(input())
  new_list.append(num)
for val in   new_list:
  sum=sum+val

print(new_list)
print("sum is:",sum)

Enter the limit5
11
22
33
44
55
[11, 22, 33, 44, 55]
sum is: 165

In [ ]:
fruits=['apple','mango','cherry']
for l in fruits:
  print(l,end=' ')

apple mango cherry

In [ ]:
s='I am Learning Python'
for i in s:
  print(i,end=" ")

I   a m   L e a r n i n g   P y t h o n

In [ ]:
a=1
while a<10:
  print(a)
  a+=2

1
3
5
7
9

In [ ]:
#sum of first hundred numbers
sum=0
start=1
while(start<=100):
  sum=sum+start
  start+=1
print("sum is:",sum)

sum is: 5050

In [ ]:
#basic interactive code  -- Infinite loop
print("Welcome to ICTK")
while True:
  x=input("Enter Quit to stop")
  x=x.lower()
  if x=='quit':
    print("see you later")
    break;
  y=x.split()
  if(len(y)==0):
    print("enter a valid input")
  elif 'morning' in y:
    print("good Morning")
  elif 'course' in y:
    print("visit the website")
  elif 'python' in y:
    print("Yes we have python course")
  else :
    print("please use another option")

Welcome to ICTK
Enter Quit to stopgood morning
good Morning
Enter Quit to stopdo you have python
Yes we have python course
Enter Quit to stopquit
see you later

In [ ]:
for i in range(10):
  print(i)
  if i==5:
    break
print("execution completed")

0
1
2
3
4
5
execution completed

In [ ]:
for i in range(10):
  
  if i==5:
    continue
  print(i)    
print("execution completed")

0
1
2
3
4
6
7
8
9
execution completed

In [ ]:
#check weather the number is prime
n=int(input("Enter the number"))
if(n>1):  
  for i in range(2,n):
    if(n%i==0):
       print ("number is not prime")  
       break
    else:
      print("the number is prime")
      break
else:  
  print ("number is not positive")

Enter the number44
number is not prime

In [ ]:
#print multiplication table
for i in range(1,11):
  print('5*',i,'=',5*i)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [ ]:
for i in range(1,6):
  print("multiplication table of",i)
  for j in range(1,11):
    print(j,'*','=',j*i)

multiplication table of 1
1 * = 1
2 * = 2
3 * = 3
4 * = 4
5 * = 5
6 * = 6
7 * = 7
8 * = 8
9 * = 9
10 * = 10
multiplication table of 2
1 * = 2
2 * = 4
3 * = 6
4 * = 8
5 * = 10
6 * = 12
7 * = 14
8 * = 16
9 * = 18
10 * = 20
multiplication table of 3
1 * = 3
2 * = 6
3 * = 9
4 * = 12
5 * = 15
6 * = 18
7 * = 21
8 * = 24
9 * = 27
10 * = 30
multiplication table of 4
1 * = 4
2 * = 8
3 * = 12
4 * = 16
5 * = 20
6 * = 24
7 * = 28
8 * = 32
9 * = 36
10 * = 40
multiplication table of 5
1 * = 5
2 * = 10
3 * = 15
4 * = 20
5 * = 25
6 * = 30
7 * = 35
8 * = 40
9 * = 45
10 * = 50