<a href="https://colab.research.google.com/github/sheenavr/Python-programming/blob/main/Python_Practice_Problems_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Program to accept the details of a student like name, roll number and mark and display it

In [7]:
name=input("Enter the Name") # Read student name
roll_no=int(input("Enter the Roll Number")) # Read Roll Number
mark=int(input("Enter the Mark"))  # Read marks
print("Name:",name)
print("Roll No:",roll_no)
print("Mark:",mark)

Enter the NameAnju
Enter the Roll Number100
Enter the Mark250
Name: Anju
Roll No: 100
Mark: 250

2.program to convert temperatures to and from Celsius Fahrenheit

In [12]:
input_temp=input("Enter the temperature to convert: ") # Read the Temperature
temp_value=int(input_temp[:-1])
temp_degree=input_temp[-1]
if temp_degree.upper() == "C":
  f_temp=int(round(temp_value)*9/5)+32 #convert Celsius to Fahrenheit
  print("Temperature in Fahrenheit: ",f_temp)
elif temp_degree.upper() == "F"  :    
  c_temp=int(round(((temp_value-32)/9)*5)) #convert  Fahrenheit to Celsius 
  print("Temperature in Celsius: ",c_temp)

Enter the temperature to convert: 41F
Temperature in Celsius:  5

3.program to accept two numbers from the user and display
its product.

In [13]:
first_num=int(input("Enter the First Number:")) # Accept First Number
Sec_num=int(input("Enter the Second Number:")) # Accept Second Number
result=first_num*Sec_num
print("The product of two numbers are:",result)

Enter the First Number:20
Enter the Second Number:30
The product of two numbers are: 600

 4. program to accept a string “Learn Python by Developing a
Website” and display the string like “Learn **Python** by Developing a
**Website**”

In [29]:
string_val="Learn Python by Developing a Website"
#"\033[1m{}\033[0m".format(str) for bold format

print(string_val[:6]+"\033[1m{}\033[0m".format(string_val[6:12])+string_val[12:28]+"\033[1m{}\033[0m".format(string_val[-8:]))

Learn Python by Developing a Website

5. program to accept the radius of a circle and display its area

In [35]:
import math
radius=int(input("Enter the radius")) # Enter the radius
area=math.pi*radius**2
print(f'Area of Circle of radius {radius} is:',area)

Enter the radius3
Area of Circle of radius 3 is: 28.274333882308138

6.program to insert a number to any position in a list (Get the number to
be inserted and position from the user)

In [37]:
list_numbers=[1,2,3,4,5]
pos=int(input("Enter the position to insert in to the list")) # accept the position
num=int(input("Enter the number to insert in the list"))  # accept the number to insert
list_numbers.insert(pos,num)
print("the list after adding the new element",list_numbers)

Enter the position to insert in to the list1
Enter the number to insert in the list44
the list after adding the new element [1, 44, 2, 3, 4, 5]

7.program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [39]:
personal_dic={ "name": "John", "age":5, "salary": 8000, "city": "New York"}
print("The original Details",personal_dic)
temp_var=personal_dic['city'] # store value in a temperory variable
del personal_dic['city']
personal_dic['location']=temp_var
print("Details after changing the key city to location",personal_dic)

The original list {'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}
list after changing the key city to location {'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

8.program to change Brad’s salary to 8500 in the following
dictionary.
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}}

In [50]:
emp_dic={ 'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}

print("The original Employee details:",emp_dic)

emp_temp={'emp3': {'name': 'Brad', 'salary': 8500}}
emp_dic.update(emp_temp) # updating the salary
print("After updating the Brad's salary:",emp_dic)

The original Employee details: {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
After updating the Brad's salary: {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

9. program to copy elements 43 and 54 from the following tuple into a
new tuple. Given:
tuple1 = (10, 20, 43, 54, 56, 68)

In [52]:
tuple1=(10, 20, 43, 54, 56, 68)
tuple2=tuple1[2:4] # copy values to another tuple
print(tuple2)

(43, 54)

10.Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [55]:
 tuple3 = (50, 10, 60, 70, 50,83,567,50,81)
 element_count=tuple3.count(50)
 print(tuple3)
 print("the count of the tuple element 50 is:",element_count)

(50, 10, 60, 70, 50, 83, 567, 50, 81)
the count of the tuple element 50 is: 3